/* Reset e estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #0c192c;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.conteiner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bolhas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.bolhas span {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.3), 0 0 60px rgba(255, 255, 255, 0.1);
  animation-name: subirCor;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.9;
  filter: drop-shadow(0 0 5px);
  will-change: transform, background-color, opacity;
}
